@charset "UTF-8";
/* estilos para impressoras */
*{
    margin: 0px;
    padding: 0px;
}
html{
font-family: 'Courier New', Courier, monospace;
font-size: 1.5em;
line-height: 1.5em;
}
nav{
    display: none;
}
article ::after{
    content: "Esse artigo foi impresso no site das notícias";
    display: inline-block;
    line-height: 50px;
  
}
